body{
    background-color: #FFCD92;
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    border-radius: 15px;
    width: 25%;
    padding: 10px;
    outline: none;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
}
.templateContainer .template_Container .template{
    background-color: #EEE1D1;
    border: 3px solid #000000;
    margin: 30px;
    padding: 0px 20px;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    align-items: center;   
}

.templateContainer .template_Container .template:hover {
    transition: 0.8s;
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
}


.templateContainer .template_Container .template img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 0 auto;
}


.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: scroll;
}


.card-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.information {
    padding-top: 10px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif
}

.filter {
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 10px;
}
/* .card-text:hover {
    -webkit-line-clamp: 15;
    cursor: pointer;
} */

/* Webkit */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FFCD92;
  }
  
  /* Mozilla */
  ::-moz-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-moz-scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000000;
  }
  
  /* Microsoft */
  ::-ms-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-ms-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000000;
  }